# Object files
*.o


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store

# u2 folder
Serial
u2/ziel.txt
/u2/ziel.txt
!u2/fileio.o
!/u2/fileio.o